<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rxjavademo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--RxJava 介绍主要MainActivity
        <activity android:name=".MainActivity"> -->
        <!--CreateOperator 操作符主要使用的activity'
        <activity android:name=".operator.CreateOperator">-->
        <!--SwitchOperator 操作符主要使用的activity'
        <activity android:name=".operator.SwitchOperator"> -->
        <activity android:name=".operator.CombineOperator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>